logs/catkin/*.log
logs/tmux/*.log
!.gitkeep
.st*/
build/
devel/
vtol_ws/

__pycache__/
*.py[cod]
*$py.class
*.csv
*.png

vtol_deployment/data/*.bag
vtol_deployment/data/*.db
vtol_deployment/data/*.txt
.opencode/
*.sync-conflict-*
*audit*
