[submodule "vtol_deployment/lio/livox_ros_driver2"]
	path = vtol_deployment/lio/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
	branch = master
[submodule "vtol_deployment/lio/FAST_LIO_ROS2"]
	path = vtol_deployment/lio/FAST_LIO_ROS2
	url = https://github.com/Ericsii/FAST_LIO_ROS2.git
	branch = ros2
[submodule "vtol_deployment/lio/Livox-SDK2"]
	path = vtol_deployment/lio/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
	branch = master
[submodule "calibration/LiDAR_IMU_Init"]
	path = calibration/LiDAR_IMU_Init
	url = https://github.com/hku-mars/LiDAR_IMU_Init.git
